html body.tc-body .blue-box,
html body.tc-body .gray-box,
html body.tc-body .green-box,
html body.tc-body .pink-box,
html body.tc-body .purple-box,
html body.tc-body .red-box,
html body.tc-body .yellow-box {
	background-color: rgba(255,255,255,0.07);
	color: rgba(255,255,255,0.67);
}

html body.tc-body .red-box {
	background-color: rgba(255,255,255,0.07);
	border: 1px solid #993333;
	color: #CC3333;
}